[Unit]
Description=SERA Application Suite
Documentation=https://github.com/your-org/sera
Requires=sera-backend.service sera-frontend.service
After=sera-backend.service sera-frontend.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target